.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-image: url("http://img4.imgtn.bdimg.com/it/u=2775046454,4176591222&fm=26&gp=0.jpg");
  min-height: 100vh;/*vh 视口高度*/
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Text-Message{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Control-Panel{
  /**固定在浏览器底部*/
  position : fixed;
  width: 100%;
  bottom: 0;
}

.Control-Panel-Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Send-Button{
  background-color: #09d3ac;
  color: #09d3ac;
  font-size: 80px;
}

.avatar {
  margin: 10;
}
.bigAvatar {
  margin: 10;
  width : 60;
  height: 60;
}
.IconTextContainer{
   display:flex;
   flex-direction: column;
   align-items: center;
}

.TextMessageBox{
  border-radius: 10px;
  background-color: #09d3ac;
  /* width: 50px; */
  overflow: hidden;
  max-width: 400px;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
  padding: 5px;
  box-shadow: 1px 1px #99bdbdbd;
}

 
.Chat-item{
 list-style-type: none;
 }


.Row{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.Contact-list{
  background-color: aquamarine;;
  color: aliceblue;
  flex-basis: 400px;
  }

.Chat-Window{
  flex: 1  ;
  background-color: azure;
}







 


